

.App {
  width: 100%;      /* Make sure it's full width */
  max-width: 2000px; /* Optional for layout consistency */
  margin: 0 auto;    /* Center content */
  background-color: #171728;;
  box-sizing: border-box;
}





