.project-img img {
    width: 100%;
    max-width: 1200px;
    height: auto;
    display: flex;
    align-content: space-evenly;
    justify-content: center;
    padding: 3rem;
    padding-left: 15rem;

}